# Admin (redirect for now)
admin.zenreader.net {

  handle /api/* {
   reverse_proxy zenreader-gateway-java-spring-1:8080
  }

  handle {
    root * /srv/site/admin
    try_files {path} /index.html
    file_server
  }
}

# bookswiper -> zenreader
bookswiper.com, www.bookswiper.com {
  redir https://zenreader.net{uri} 301
}

# Hauptdomain (statisch + /books SPA + public api)
zenreader.net, www.zenreader.net {

  handle /api/public/books* {
    reverse_proxy public-api:3000
  }

  redir /books /books/ 308
  handle_path /books* {
    root * /srv/site/books
    try_files {path} /index.html
    file_server
  }

  redir /analytics /analytics/ 308
  handle_path /analytics* {
    root * /srv/site/analytics
    try_files {path} /index.html
    file_server
  }

  handle {
    root * /srv/site
    file_server
  }
}
