{
  # Optional: für Let's Encrypt Kontaktmail
  # email you@example.com
}

zenreader.net, www.zenreader.net {
  # Public Website inkl. /books
  handle /api/public/* {
    reverse_proxy bookservice-java-spring:8086
  }

  handle {
    root * /srv/site
    file_server
  }
}

admin.zenreader.net {
  basicauth {
    admin $2a$14$zc81t7PznhPWUfevzmEwLern5VOYqgRGuTOK1zzpHQz8LL9j9oRQu
  }

  # Admin darf alles, was du brauchst
  handle /api/public/*   { reverse_proxy bookservice-java-spring:8086 }
  handle /api/register/* { reverse_proxy bookservice-java-spring:8086 }
  handle /api/mobile/*   { reverse_proxy bookservice-java-spring:8086 }
  handle /api/barcodes/* { reverse_proxy barcodes-go:8082 }

  # Admin UI
  handle {
    reverse_proxy admin-web:80
  }
}